# Entorno virtual
.venv/
venv/
env/

static/

*.sqlite3

# Archivos de PyCharm / IDEs
.idea/
.vscode/

# Django collected static files
Blog/static/

# Media uploads
Blog/media/

# Python cache
__pycache__/
*.py[cod]

# Archivos del sistema
.DS_Store
Thumbs.db